h1 {font-size: 45px;
border-right: 10px solid aquamarine;
color: black;
}
h2 { font-size: 30px;
border-right: 10px solid burlywood;}
p{ font-size: 20px;

}

li{font-size:20px ;
    
}
body {background-color: darkgray;}

h3 { font-size: 25px;}